<form class="newtask-form">
  <div class="form-group">
    <label>Title</label>
    {{input type="text" class="title form-control" name="title" value=title placeholder="Add Todo..."}}
  </div>
  <button {{action 'addTodo'}} class="submit btn btn-primary" name="submit" >Submit</button>
</form>