{{outlet}}

<h1>Tasks</h1>
<hr>

{{#each model as |todo|}}
  <div class="todo well">
    <h4>{{todo.title}}</h4>
    <small>Created: {{todo.created_at}}</small>
    <p>Finished: {{todo.is_completed}}</p>
  </div>
{{/each}}
